.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container--modal-shown {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}