@import '../../styles/variables.scss';

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: 
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-regular.woff2') format('woff2'),
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: 
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-600.woff2') format('woff2'),
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-600.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: 
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-700.woff2') format('woff2'),
    url('../../assets/fonts/open-sans-v23-latin_cyrillic-700.woff') format('woff'),
}

.page {
  min-width: $desktop-width;
  margin: 0 auto;
  height: 100%;
  background-color: $white;
  font-family: $open-sans-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-grey;

  &--modal-open {
    overflow: hidden;
  }
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: block;
  width: 196px;
  height: 51px;
  background-color: $red;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  line-height: 51px;
  margin-bottom: 16px;

  &:hover {
    background-color: $dark-red;
  }
}
