$white: #ffffff;
$light-grey: #F5F5F9;
$grey: #DCDCE0;
$darker-grey: #D7D9DF;
$star-grey: #BDBEC2;
$light-green: #b6f1b8;
$red: #D12136;
$dark-red: #BD0C21;
$bright-red: #FF0000;
$dark-grey: #48494D;
$shadow-grey: #585757;
$darkest-grey: #1A212F;
$black: #000000;

$open-sans-font: 'Open Sans', Arial, sans-serif;

$desktop-width: 1356px;
$mobile-width-only: 767px;
$tablet-width: 768px;