@import '../../../styles/variables.scss';

.reviews__form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparentize($shadow-grey, 0.4);
}

.review-form {
  position: fixed;
  width: 700px;
  height: 415px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 35px;
}

.review-form__header {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 46px;
}

.review-form__inputs {
  margin-bottom: 19px;
}

.inputs-block {
  align-self: flex-start;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 28px;
  grid-auto-flow: column;
}

.inputs-block__input {
  width: 300px;
  height: 50px;
  background-color: $white;
  margin-bottom: 16px;
  padding-left: 25px;
  font-family: $open-sans-font;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid transparentize($dark-grey, 0.8);
  color: $dark-grey;

  &:hover {
    border-color: transparentize($dark-grey, 0.5);
  }
}

.inputs-block__input--invalid {
  border-color: $bright-red;
}

.inputs-block__rating {
  padding-top: 5px;
}

.inputs-block__label {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding-top: 5px;
  color: $black;
  margin-right: 16px;

  &:first-of-type:before {
    position: absolute;
    content: '*';
    top: 5px;
    left: -316px;
    color: $red;
    font-size: 14px;
    line-height: 20px;
  }
}

.review-form__error {
  display: none;
}

// .review-form:invalid .review-form__error {
//   display: block;
//   position: absolute;
//   color: $bright-red;
//   font-size: 14px;
//   line-height: 19px;
//   top: 90px;
//   left: 36px;
// }

.review-form__error--active {
  display: block;
  position: absolute;
  color: $bright-red;
  font-size: 14px;
  line-height: 19px;
  top: 90px;
  left: 36px;
}

.inputs-block__comment-block {
  position: relative;
  grid-row: 2 / 4 ;

  &::before {
    position: absolute;
    content: '*';
    top: 5px;
    left: 12px;
    color: $red;
    font-size: 14px;
    line-height: 20px;
  }
}

.inputs-block__comment {
  width: 300px;
  height: 118px;
  resize: none;
  border: 1px solid transparentize($dark-grey, 0.8);
  padding: 12px 25px;
  font-family: $open-sans-font;
  font-size: 14px;
  line-height: 19px;
  color: $dark-grey;
}

.inputs-block__comment--invalid {
  border-color: $bright-red;
}

.review-form__exit-button {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  right: 25px;
  top: 25px;
  background-color: inherit;
  border: none;
  background-image: url(../../../assets/img/cross.svg);
}

.review-form__button {
  cursor: pointer;
  display: block;
  width: 190px;
  height: 52px;
  background-color: $red;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  text-align: center;
  line-height: 51px;
  border: none;

  &:hover {
    background-color: $dark-red;
  }
}