@import '../../../styles/variables.scss';

.characteristics-table__row {
  border-bottom: 1px solid $darker-grey;
}

.characteristics-table__description {
  padding-top: 20px;
  padding-bottom: 8px;
}

.characteristics-table__value {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 8px;
}