@import '../../../styles/variables.scss';

.page-header {
  width: 100%;
  min-height: 84px;
  background-color: $light-grey;
}

.page-header__wrapper {
  width: 1356px;
  padding: 15px 85px 9px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}